@page
@model AfzaSlaughter.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2 style="color: whitesmoke">Our Special Products</h2>
            <h4 style="color: #cda45e">Check Our Specials</h4>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                            Free Run Chicken
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            Duck hen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                            Unburned Rooster
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Duck</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Mutton</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Oxtail</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>
                                    Free Run Chicken
                                </h3>
                                <p>A top favorite amongst our clients is the free run chicken. Supreme in taste and flavor, our birds come from the farm of local farmers. Free from pesticides, artificial growth hormones or steroids, we offera variety of cuts and also offer it singed with a lip-smacking flavor. Antibiotic free and organic chickens are also available.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/img/free_run_chicken.7b4d158c.png" alt="" class="img-fluid" style="width:80% ; border-radius:250px 0px 0px 250px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>
                                    Duck hen
                                </h3>
                                <p>These are the laying hens.Offering the same qualities as our rooster or other chickens, heavy hen is a softer meat then rooster but tougher than regular chicken.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/img/duck.2bdfdcf0.png" alt="" class="img-fluid" style="width:70%; border-radius:250px 250px 0px 250px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>
                                    Unburned Rooster
                                </h3>
                                <p>Heavy on protein, roosters make for great delicacies when used in soups, stews, curries or even dried down (bunjalor bungal). Our roosters are grown in farms of Ontario in a complete free-run environment and also are used for breeding with laying hens. While growing in a natural cage-free environment, none of our birds are contacted with any kind of artificial growth hormones or steroids. Fed on high quality grains, the tough meat of the roosters may take a while to be cooked, but the taste pays off for the trouble. To facilitate our consumers, all birds are offered burnt or regular, and with or without the parts of head or feet. The ‘Burn’ options are the same delicious birds of Sheik Halal Farms, just singed for a succulent flavor.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/img/rooster.775f44f5.png" alt="" class="img-fluid" style="width:70%; border-radius:250px 250px 0px 0px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Duck</h3>
                                <p>With its higher quality meat in comparison to a Peking Duck, the Muscovy Duck of our farms have always garnered special admiration of our consumers. These birds grow in a complete free-range natural environment and are also free from any kind of antibiotics, pesticides or artificial growth hormones.Average 7 to 8 lbs and fed with high quality grains, they are reared at least for three months before the slaughter to ensure the tenderness of the meat, which adds to its popularity. The Breeder Drake is also available; which is a tough meat to be cooked, but is also preferred by a class of consumers.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/img/drake1.75078180.png" alt="" class="img-fluid" style="border-radius:120px 0px 0px 0px">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Mutton </h3>
                                <p>We offer both fresh and frozen mutton ina variety of cuts. Known for its tender texture, which also gives a great flavor, our animals are raised in complete free range and healthy environments, without any kind of artificial hormonesor steroids, they freely graze in open fields. Away from commercial farming, we follow benevolent ways to raise our animals which may justify the utmost quality of meat that our farms are known to produce</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/img/mutton_leg.45e2208b.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-6">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>
                                    Oxtail
                                </h3>
                                <p>Full of flavor, oxtail meat comes from the tail of a cow. As oxtail is often slow-cooked due to its nutritious bone and rich texture, oxtail meat is perfect for braising. Popularly used for stew or stocks, we offer both frozen and fresh options. Frozen oxtail comes from Australia and fresh comes from our partner farms in Ontario. The animals are raised in a natural and healthy environment. We also offer Beef, which again comes from the animals raised in open pastures of Ontario. Kept in free-range, healthy environments, these animals are fed on grass and high quality grains. All cuts are available.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/img/oxtail.6bf702ab.png" alt="" class="img-fluid" style="border-radius:0px 0px 0px 120px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Specials Section -->
<hr />
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Gallery</h2>
            <p>Some photos from Our Firm</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/10.15 cattle slaughter.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/img/10.15 cattle slaughter.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/img/gallery2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/img/gallery3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/img/gallery4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery5.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/img/gallery5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery6.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/img/gallery6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery7.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/img/gallery7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery8.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/img/gallery8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Gallery Section -->

<hr />
<section style="background-color:lightgoldenrodyellow">
    <h1>Statistics of cattles of our firm</h1>
    <span>Free Run Chicken</span>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="400" aria-valuemin="0" aria-valuemax="500">400</div>
    </div>
    <span>Duck hen</span>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="350" aria-valuemin="0" aria-valuemax="500">350</div>
    </div>
    <span>Unburned Rooster</span>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 90%" aria-valuenow="450" aria-valuemin="0" aria-valuemax="500">450</div>
    </div>
    <span>Duck</span>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 64%" aria-valuenow="320" aria-valuemin="0" aria-valuemax="500">320</div>
    </div>
    <span>Cow</span>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%" aria-valuenow="0" aria-valuemin="200" aria-valuemax="500">200</div>
    </div>

</section>
@*@section scripts {

        <script type="text/javascript">

            let ctxP = document.getElementById("pieChart").getContext('2d');
            let myPieChart = new Chart(ctxP, {
                type: 'pie',
                data: {
                    labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
                    datasets: [{
                        data: [300, 50, 100, 40, 120],
                        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                    }]
                },
                options: {
                    responsive: true
                }
            });

        </script>

    }*@
<hr />
<br />
<br />
<br />