@page
@model AfzaSlaughter.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}
<section>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-10" style="background-image: url('../img/helpbanner.jpg'); height: 200px; opacity: 0.8">
            <h3 class="text-xl-center font-weight-bold" style="color:skyblue; margin-top:8%;">Frequently Asked Questions</h3>
        </div>
        <div class="col-1"></div>
    </div>
</section>
<hr />
<section>
    @*link:https://ottawavalleymeats.com/faqs/*@
    <div class="col-4">
        <h2>Shipping and Payment</h2>
    </div>
    <hr />
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What methods of payment are accepted? When will I see a charge on my credit card?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>We accept a variety of payment methods,</strong> including Visa, Mastercard, American Express and PayPal. An authorization will appear on your credit card when your shipment is prepared. For orders over $800, we offer an interest-free payment plan. Just ask!
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Do you offer Free Shipping?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Yes,</strong> we offer Free Shipping for all orders over $149 for Ottawa-Gatineau, Eastern Ontario, Toronto and Montreal. We also provide an extended shipping area for Quebec and Ontario with Free Shipping starting at $249. For all other regions, we will provide a custom shipping quote. We also offer Free Pick up for all orders at our Ottawa location.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What's te deal? Am I commiting to a subscription or signing a contract?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Order as you go:</strong> choose your cuts of meat, choose how much you want, and choose your delivery date. It’s the easiest farm-to-plate service you’ll find! No subscriptions, contracts or annual plans required.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How do I add 'X' to my order?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Searching for something in particular?</strong> We highly suggest using the search option to find any cuts of meat you’re looking for. We also offer special custom, one-off items. Don’t be afraid to ask! We can add them to any regular order.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Do you have a store?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes we do and we’d love to see you! We are located at X Leyton Avenue, Scarborough, ON.<br /><br />
                    <address>
                        <strong>Our hours are:</strong><br />
                        Tuesday – Friday: 10am to 6pm <br />
                        Saturday: 9am to 1pm<br />
                        Sundays and Monday: Open by appointment only.<br />
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section>
    @*link:https://ottawavalleymeats.com/faqs/*@
    <div class="col-4">
        <h2>About Our Meat</h2>
    </div>
    <hr />
    <div class="accordion" id="accordionExample2">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    What are the grades of the steaks and beef?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    If you are looking for quality, you’ve found it. Our beef regularly grades AAA or higher, often Prime. We also dry age our beef for a minimum of 28 days to ensure it’s as tender as possible.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Is the meat government inspected?
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    Yes, all our meats are either provincially or federally inspected. We follow all the rules and regulations defined by the CFIA (Canadian Food Inspection Agency) and the Ontario Ministry of Agriculture, Food and Rural Affairs (OMAFRA). Our facility is also Hazard Analysis and Critical Control Point (HACCP) certified. Food safety is a top priority!
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Do you use antibiotics or hormones in your meat? Is your meat generically modified in any way?
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    <strong>No.</strong> Our local farmers raise their animals in the most natural way possible — on the pasture! Our meat is antibiotic and hormone free and never genetically modified.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Are the animals humanely raised?
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    <strong>Absolutely!</strong> This is so important to us. Many of the family farms we partner with have small herds for this very reason. These folks sincerely care for their animals and ensure their animals spend time outdoors with adequate space to roam to their heart’s content. Ottawa Valley Meats only partners with farms that pasture raise their animals. We do not work with farms that use industrial or factory farming practices.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    How long can I keep your meat in my freezer?
                </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    As long as the vacuum seal is intact, you are good to go! If it is kept properly frozen, our meats can last 24 months in the freezer.
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<!-- For send message to Contact page using jumbotron -->
<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h6 class="display-5 fw-bold">Do you need more information about <span style="color:tomato">AfzaSlaughter?</span></h6>
            <p class="col-md-8 fs-4">Please send a message <a class="btn btn-outline-success" asp-page="/Contact">Click Me</a></p>
        </div>
    </div>
</section>
<hr />
<br />
<br />
<br />
