<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/deb6f023-2282-4a50-a9b0-8ba91a3f59c4/resourceGroups/afzaslaughter/providers/Microsoft.Web/sites/AfzaSlaughter</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://afzaslaughter.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>ebe4f841-5781-459d-8a4d-87247a43ef88</ProjectGuid>
    <PublishUrl>https://afzaslaughter.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AfzaSlaughter</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>